html, body {
    background-color: rgb(161, 221, 221);
    text-align: center;
    overscroll-behavior-y: contain;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

p {
    margin: auto 1px;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    flex-basis: 15%;
}

#board {
    background-color: blue;
    border: 3px solid black;
    box-shadow: 4px 7px 3px grey;
}